# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dv0rm0k0r
CLOUDINARY_API_KEY=362822825989394
CLOUDINARY_API_SECRET=xahTTUB7B8N3dNTOo6_NXz8htxk

# MongoDB Configuration
MONGODB_URI=mongodb+srv://grobotsclub:uDzgEKVv3Be8Qt5k@main-website.7elkaai.mongodb.net/?retryWrites=true&w=majority&appName=Main-Website

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Environment
NODE_ENV=development
